
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Loginページ</title>
    </head>
    <body>
        <header>
            <h2>Loginページ</h2>
        </header>
        <a href="/singup">新規登録</a>
        <form  action="/login" method="post">
        <p>USER NAME</p> <input type="text" name="name" placeholder="UserName"/>
        <p>PASS WORD</p> <input type="password" name="pass" placeholder="PassWord"/>
        <p><input type="submit" value="Login"/></p>
        </form>
    </body>
</html>
